<div class="step-content" id="step-1">
  <h2 class="text-lg font-semibold mb-4">Step 1: Personal Information</h2>
  <form>
    <div class="mb-4">
      <label for="firstName" class="block text-sm font-medium text-gray-700">First Name</label>
      <input type="text" id="firstName" name="firstName"
        class="mt-1 block w-full border-black-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 mb-1 bg-gray-100 px-4 py-2">
      <label for="lastName" class="block text-sm font-medium text-gray-700">Last Name</label>
      <input type="text" id="lastName" name="lastName"
        class="mt-1 mb-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 bg-gray-100 px-4 py-2">
    </div>
    <!-- Next Button -->
    <div class="flex justify-end">
      <button routerLink="/input/step2" type="button"
        class="inline-flex items-center px-4 py-2 bg-blue-500 border border-transparent rounded-md font-semibold text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
        Next
      </button>
    </div>
  </form>
</div>
