.content {
  width: calc(100% - 350px);
  margin-left: 310px;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;

  &.collapsed {
    width: calc(100% - 100px);
    margin-left: 90px;
  }

  @media (max-width: 550px) {
    width: calc(100% - 80px);
    margin-left: 75px;

    &.collapsed {
      width: 100%;
      margin-left: 75px;
      width: calc(100% - 80px);
    }
  }
}

.sidebar {
  transition: width 0.3s ease-in-out;
}
