.sidebar {
  background-color: #f8f7fa;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  border: 1px solid #eee;
  border-radius: 12px;
  color: #6f6b7d;
  transition: width 0.3s ease-in-out;

  &.collapsed {
    width: 80px;

    .logo {
      justify-content: center;
    }

    .menu-items ul li {
      justify-content: center;

      a {
        display: none;
      }
    }
  }

  .logo {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 10px;

    img {
      margin-right: 20px;
    }

    h4 {
      font-weight: 700;
      font-size: 32px;
      line-height: 60px;
      margin: 0;
    }
  }

  .menu-items {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 12px 10px;
        margin-bottom: 20px;
        border-radius: 7px;
        cursor: pointer;
        border: 0.1px solid #eee;
        transition: background 0.5s ease-in-out;

        &:hover {
          background-color: #5b4f4f29;
        }

        img {
          margin-right: 10px;
        }

        a {
          display: block;
          text-decoration: none;
          color: inherit;
          font-size: 16px;
        }

        a.ng-hidden {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .sidebar {
    width: 80px;

    .logo {
      justify-content: center;

      h4 {
        display: none;
      }
    }

    .menu-items ul li {
      justify-content: center;

      a {
        display: none;
      }
    }
  }
}
