.cards-top {
  display: flex;
  margin: 30px 0;
  .top-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  #card1 {
    flex: 17%;
    .content {
      position: relative;
      padding: 5px 7px;

      p {
        font-size: 1.3rem;
        line-height: 25px;
        color: #6f6b7d;
      }
      span {
        color: #6f6b7d;
        margin-top: 2px;
      }
      h3 {
        margin: 5px 1px;
        color: #7367f0;
        font-size: 25px;
        line-height: 1.5;
      }
      img {
        position: absolute;
        right: -16px;
        top: 10px;
      }
    }
  }
  #statistics {
    flex: 55%;
    h1 {
      font-weight: 600;
      font-size: 1.5rem;
    }
    .row {
      display: flex;
      justify-content: space-evenly;
      justify-items: center;
      justify-self: center;
      h2 {
        font-size: 1.2rem;
        color: #7367f0;
      }
      h4 {
        color: #6f6b7d;
      }
    }
  }
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  .grid-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 460px;
    display: flex;
    flex-direction: column;
  }

  .left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 10px;
    .card2,
    .card1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .card3 {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
  }
  .right {
    .card4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
//media
/* Devices between 320px and 414px */
@media (min-width: 320px) and (max-width: 414px) {
  .card-grid {
    margin-left: 10px;
    grid-template-columns: repeat(1, 1fr);
    .left {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      .card2 {
        grid-row: 2 / span 1;
      }
      .card3 {
        grid-row: 3 / span 1;
        display: flex;
        flex-direction: column;
        justify-content: centerS;
      }
    }
  }
  #card1 {
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .grid-card,
  .top-card {
    max-width: 319px;
  }
  .cards-top {
    flex-direction: column !important;
  }
  #statistics {
    .row {
      flex-direction: column !important;
      align-items: center;
    }
  }
}

// Small devices (landscape phones, less than 576px)
@media (min-width: 414px) and (max-width: 575.98px) {
  .card-grid {
    margin-left: 10px;
    grid-template-columns: repeat(1, 1fr);
    .left {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      .card2 {
        grid-row: 2 / span 1;
      }
      .card3 {
        grid-row: 3 / span 1;
        display: flex;
        flex-direction: column;
        justify-content: centerS;
      }
    }
  }
  #card1 {
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .grid-card,
  .top-card {
    max-width: 414px;
  }
  .cards-top {
    flex-direction: column !important;
  }
  #statistics {
    .row {
      flex-direction: column !important;
      align-items: center;
    }
  }
}
