<div class="cards-top">
  <div id="card1" class="top-card">
    <div class="content">
      <p>Congratulations John! 🎉</p>
      <span>Best seller of the month</span>
      <h3>50k$</h3>
      <app-button text="View Sales " color="#7367f0"></app-button>
      <img src="/assets/card.png" width="100" height="267px">
    </div>
  </div>
  <div id="statistics" class="top-card" style="margin-left: 20px;">
    <h1>Statistics</h1>
    <div class="row">
      @for (item of items; track $index) {
      <div class="item">
        <img [src]="item.img" />
        <div class="text">
          <h2>{{item.amount}}k $</h2>
          <h4>{{item.name}}</h4>
        </div>
      </div>
      }
    </div>
  </div>

</div>

<div class="card-grid">
  <div class="left">

    <div class="grid-card card1">
      82.5k
      Expenses
      <apx-chart [series]="chart1.series" [chart]="chart1.chart" [plotOptions]="chart1.plotOptions" [fill]="chart1.fill"
        [stroke]="chart1.stroke" [labels]="chart1.labels" [colors]="chart1.colors" [dataLabels]="chart1.dataLabels">
      </apx-chart>
      <p>21K$</p> Expenses more than last month
    </div>
    <div class="grid-card card2">
      <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart" [plotOptions]="chartOptions4.plotOptions"
        [labels]="chartOptions4.labels"></apx-chart>
    </div>
    <div class="grid-card card3">
      Generated Leads
      Monthly Report
      <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.plotOptions.labels" [fill]="chartOptions.fill" [xaxis]="chartOptions.xaxis">
      </apx-chart>
    </div>
  </div>
  <div class="right">
    <div class="grid-card card4">
      <apx-chart [series]="chart2.series" [chart]="chart2.chart" [dataLabels]="chart2.dataLabels" [fill]="chart2.fill"
        [xaxis]="chart2.xaxis">
      </apx-chart>
    </div>
    <div class="grid-card" style="margin-top:10px">
      <apx-chart [series]="chartOptions5.series" [chart]="chartOptions5.chart" [dataLabels]="chartOptions5.dataLabels"
        [stroke]="chartOptions5.stroke" [colors]="chartOptions5.colors" [title]="chartOptions5.title"
        [grid]="chartOptions5.grid" [tooltip]="chartOptions5.tooltip" [plotOptions]="chartOptions5.plotOptions"
        [yaxis]="chartOptions5.yaxis" [xaxis]="chartOptions5.xaxis"></apx-chart>
    </div>
  </div>
</div>